body {
    background: linear-gradient(180deg, rgb(38, 90, 213) 0%, rgb(127, 146, 202) 100%);
    margin-top: 100px;
    min-height: 100vh;
}

div {
    margin-top: 6px;
}

@media (min-width: 578px){
    .container {
    max-width: 350px;
    }
}

.container {
    background-color: rgb(64, 64, 89);
    padding: 10px 15px;
    border-radius: 10px;

}

#resultado{
    background-color: #1c1c1cd9;
    color: #fff;
    font-size: 1.714285714em;
    height: 60px;
    padding: 10px;
    text-align: right;
    border-radius: 0.3rem;
    color: white;

  }


.botao-cima {
    width: 88.8px;
}

.cor-botao {
    background: linear-gradient(180deg, rgb(70, 189, 244) 0%, rgb(175, 192, 243) 100%);
    border: none;
}

.cor-botao:hover {
    background: linear-gradient(180deg, rgb(9, 142, 205) 0%, rgb(122, 151, 237) 100%);

}

.parte-cima {
    margin-top: 5px;
}

.equal {
    width: 65px;
    height: 100px;
    position: absolute; 
    margin: 0 5px;

}

.ultimo {
    width: 66px;

}

.ultimo1 {
    width: 57px;

}


